/* Cursos de cada Semestre*/
$verde: #30CC71;

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);

body {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: $verde;
}

nav.barnav {
  background-color: $verde;
}

button.btniconbar {
  background-color: $verde;
}

.navbar-inverse .btniconbar:hover
{
  background-color:#e84b40;

}

img.logo {
  max-width: 150px;
  margin-top: -15px;
}

i.txtmenu {
  color: #000;
  &:hover {
    color: #e84b40;
  }
}

/*Titulo Inicio */

h1.titulo {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h3.h3semester {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h2.h2semester {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 80px;
}

span.number-semester{
  border:3px solid #FFFFFF;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

li.listcursos {
  //background-color: $verde;
  color: #585858;
  &:hover {
    background-color: #ff4842;
    color:#FFFFFF;
    font-size: 20px;
  }
}

.txtcursos {
  color: #FFFFFF;
}

.img-center {
  margin: 0 auto;
}

p.materias {
  font-size: 18px;
}

.list-group-item{
border:2px solid #E0E0E0;
}

footer {
  margin: 0px 0;
  color: #FFFFFF;
  nav.navfooter {
    background-color: $verde;
    min-height: 10px;
  }
}

p.txtsv {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 12px;
}

i {
  &.txtfooter {
    color: #FFFFFF;
    margin-top: 12px;
  }
  &.tw-icon:hover {
    color: #3b5998;
  }
  &.fac-icon:hover {
    color: #55acee;
  }
}
