$verde: #30CC71;
$gris_bg:#f1f2f2;
$rojo:#D6523C;
$amarillo:#e9bc1c;
$amarillo-secundario:#fbc215;
$azul:#30ccbf;




body
{
	background-color: $gris_bg;
	padding-bottom: 70px;
}

div.margen { margin:10px 0;}
div.margenbtn { margin:20px 0;
	display: none;}

textarea.txtarea{width: 100%;
				font-size: 16px;}


nav.navbar-inverse
{
	background-color: $verde;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: $verde;

}

.navbar-inverse .navbar-nav>li>a {
    color:white;

		&:hover{
			color:white;
			text-decoration: underline;
		}
}

.dropdown-menu>li>a {
	background-color: white;
	color:black;


	&:hover{
		background-color: white;
		color:black;
		font-weight: 900;
	}
}
.avatar{
	margin-right: 8px;
}

#cajatipopregunta {display:none;}
#cajarespuestas {display:none;}
#cajanuevaresp{display: none;}
#cajas{display: none;}
#publicar{display: none;}

div.panelprincipal
{
	font-family: 'Roboto';
	margin: 80px auto 10px auto;

}

.img-opcion
{
	max-width: 10em;
	cursor: pointer;
}

.menu-txt{
	color:black;
	font-size: 20px;
	font-weight: bold;
	margin: 10px auto 30px auto;
}


.li-opciones{
	border: 3px solid black;
	color:black;

	&:hover{
		color:white;
		background-color: $rojo;
	}
}

.btnatras{
	color:white;
	background-color: $amarillo;
	border-bottom:4px solid #bf9913;
	margin-top: 30px;

	&:hover{
		background-color: $amarillo-secundario;
	}
}


.btnNuevo{
	background-color: #30aacc;
	border-bottom: 4px solid #185566;
	color:white;
	margin-bottom: 30px;

	&:hover{
		background-color:#17CCFF;
	}
}

.btnconsultar{
	background-color: $azul;
	border-bottom: 4px solid #1c7a72;
	color:white;
	margin-bottom: 30px;

	&:hover{
		background-color:#1ddfcf;
	}
}

.btnNuevoContenido{
	background-color:$amarillo;
	border: 1px solid $amarillo;
	color:white;
	margin-bottom: 30px;

	&:hover{
		background-color:$amarillo-secundario;
	}
}

.btnVerTemas{
	background-color:#30aacc;
	color:white;
	margin-bottom: 30px;

	&:hover{
		background-color:#17CCFF;
	}
}

.titulo-pregunta{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
  padding: 5px 0 5px 10px;
  background-color: #FFA192;
  color: black;
  border-radius: 5px;
	cursor: pointer;
}

.titulo-respuesta{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
  border: 2px solid #30ccbf;
  padding: 5px 0 5px 10px;
  background-color: #84E8E1;
  color: black;
  border-radius: 5px;
}

.titulo-repaso{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
  border: 2px solid $amarillo-secundario;
  padding: 5px 0 5px 10px;
  background-color: #fcd660;
  color: black;
  border-radius: 5px;
}

.titulo-solucion{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
  border: 2px solid $verde;
  padding: 5px 0 5px 10px;
  background-color: #81E7AA;
  color: black;
  border-radius: 5px;
}

.panel-pregunta{
	color:black;
	border: 2px solid #D6523C;
	font-size: 18px;
}

.panel-respuesta{
	border: 2px solid #30ccbf;
	font-size: 18px;
	margin-bottom: 10px
}
.panel-repaso{
	border: 2px solid $amarillo-secundario;
	font-size: 18px;
	margin-bottom: 10px;
}

.panel-solucion{
	border: 2px solid $verde;
	font-size: 18px;
}

.header-pregunta{
	color:black;
	font-size: 18px;
	background: white;
	border:1px solid #dce4ec;
	border-radius: 5px;
	padding: 5px 0 5px 10px;
	margin-bottom: 20px;
}

.cont-pregunta{
	cursor: pointer;
}

//Consultar temas

.tabla-temas{
	background-color: white;
	border:1px solid #dce4ec;
	border-collapse: collapse;
	border-radius: 5px;
	color:black;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.th-temas{
	background-color: #81E7AA;
	border:1px solid $verde;
	border-radius: 5px;
}

.tr-temas:hover{
	background-color:#dce4ec;
}

.icon-cursor{
	cursor: pointer;
}
.icon-eliminar{
	color:$rojo;
}
.icon-editar{
	color:#30ccbf;
}

.icon-contenido{
	color:$amarillo;
}

.icon-tema{
	color:#17CCFF;
}

.icon-pass{
	color:#ABB7B7;
}

//Estilos de la ventana modal de Editar Tema
.txt-editar{
	color: black;
	font-family: "Lato";
	font-size: 20px;
}

.input-editar{
	border: 2px solid #ECECEC;
	border-radius: 5px;
	font-family: "Roboto";
	font-size: 18px;
	line-height: 35px;
	width: 100%;
}

.btn-cancelar{
	border: 2px solid $rojo;
	background-color: $rojo;
	border-bottom:4px solid #AA4437;
	color: white;
	font-size: 18px;
	font-family: "Lato";

		&:hover{
			background-color: #ff4842;
		}
	}

.btn-guardar{
	border: 2px solid $verde;
	background-color:$verde;
	border-bottom:4px solid #1C7A43;
	color: white;
	font-size: 18px;
	font-family: "Lato";

		&:hover{
			background-color: #3FD363;
		}
}

.alerta{
	border-radius: 5px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 30px;
}

.alerta-exito{
	background-color: white;
	border:1px solid $verde;
	color:$verde;
}

.alerta-eliminar{
	background-color: white;
	border:1px solid $rojo;
	color:$rojo;
}

.cajaBtnVerTemas{
	text-align: right;
}

.titulo-tema{
	text-transform: uppercase;
}
