/* Principal*/

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);

body {
    padding-top: 60px; 
    padding-bottom: 70px;
    background-color: #fff;
}

nav.barnav
{
	background-color: #fff;
}

button.btniconbar
{
	background-color: #58b78e;
}

img.logo{
max-width: 150px;
margin-top: -7px;

}

i.txtmenu
{
	
	color:#e84b40;
}

i.txtmenu:hover
{
	color:#000;
}

/*Titulo Inicio */
h1.titulo{
	color:#e9bc1b;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 45px;
}

h2.titulo{
	color:#e9bc1b;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 36px;
}

h3.pregunta{

	color:#000;
	font-family: 'Roboto', sans-serif;
	font-size: 33px;
	font-weight: 100;


}



h4.h4temas{

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

img.imgtemas:hover{
	opacity: 0.7;
    
}

.img-center {
	margin: 0 auto;
}

p.materias
{
	font-size: 18px;
	
}


footer {
    margin: 0px 0;
    color:#fff;
}

footer nav.navfooter
{
	background-color: #58b78e;
	min-height: 10px;
}

p.txtsv
{
	font-size: 12px;
	margin-top: 12px;
}

i.txtfooter
{
	color:#fff;
	margin-top: 12px;
}

i.tw-icon:hover
{
	color:#3b5998;
}

i.fac-icon:hover
{
	color:#55acee;
}


