$verde: #30CC71;
$rojo: #ff4842;
$gris_bg:#f1f2f2;
$amarillo:#e9bc1c;
$amarillo-secundario:#fbc215;
$azul:#30ccbf;

h1.titulo-contenidos {
  color: #585858;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
}

h4 {
  &.h4temas {
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
  }
  &.h4contenidos {
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
  }
}

li.li-contenidos {
  cursor: pointer;
}

.imgtemas{
  max-width: 250px;
}

.img-margen{
  margin-bottom: 20px;
}

.label-contenido{
  background-color: $azul !important;
}

img.imgtemas:hover {
  cursor: pointer;
  opacity: 0.7;
}

div.cont-img {
  margin: 10px auto 10px auto;
}

#caja_repaso, #caja_solucion {
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
