/* Temas de los cursos */

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);

h1.titulo-contenidos {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
}

h4 {
  &.h4temas {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
  }
  &.h4contenidos {
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
  }
}

li.li-contenidos {
  cursor: pointer;
}

img.imgtemas:hover {
  cursor: pointer;
  opacity: 0.7;
}

div.cont-img {
  margin: 10px auto 10px auto;
}

#caja_repaso, #caja_solucion {
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}