$verde: #30CC71;
$rojo: #ff4842;
$gris_bg:#f1f2f2;
$rojo-secundario:#D6523C;
$amarillo:#e9bc1c;
$amarillo-secundario:#fbc215;
$azul:#30ccbf;

h2.titulo-test {
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}


h3.pregunta {
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 500;
}

div.test {
  clear: both;
  margin: 0 50px;
  margin-top: 20px;
}

div.seccion-estadisticas{
  border-bottom:1px solid #bdc3c7;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

div.seccion-preguntas{
  background-color: white;
  border-radius: 5px;
}

div.caja-incorrecto{
    background-color: $rojo;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    height: 50px;

    h3{
      padding-top: 10px;
      //transition: opacity 0.9s ease-in;
    }
}

div.caja-respuesta{
    background-color: $verde;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    height: 50px;
    margin-top: 10px;

  p{
      padding-top: 10px;
      font-size: 1.5em;
    }
}

label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
}

/* hide input */

input {
  &.radio {
    &:empty {
      margin-left: -999px;
      ~ label {
        position: relative;
        float: left;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 0.5em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: '';
          width: 2.5em;
          background: #D1D3D4;
          border-radius: 3px 0 0 3px;
        }
      }
    }
    &:hover:not(:checked) ~ label {
      &:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
      }
      color: #888;
    }
    &:checked ~ label {
      &:before {
        content: '\2714';
        text-indent: .9em;
        color: #FFFFFF;
        background-color: $verde;
      }
      color: #777;
    }
    &:focus ~ label:before {
      box-shadow: 0 0 0 3px #999;
    }
  }
  &.checkbox:empty {
    margin-left: -999px;
    ~ label {
      position: relative;
      float: left;
      line-height: 2.5em;
      text-indent: 3.25em;
      margin-top: 0.5em;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:before {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 2.5em;
        background: #D1D3D4;
        border-radius: 3px 0 0 3px;
      }
    }
  }
  &.checked:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
  }
  &.checkbox {
    &:hover:not(:checked) ~ label {
      color: #888;
    }
    &:checked ~ label {
      &:before {
        content: '\2714';
        text-indent: .9em;
        color: #9CE2AE;
        background-color: $verde;
      }
      color: #777;
    }
    &:focus ~ label:before {
      box-shadow: 0 0 0 3px #999;
    }
  }
}


span.labelRespuestas {
  font-size: larger;
}

div {
  &.paneltop {
    font-size: 20px;
    font-weight: bold;
  }
  &.statstxt {
    color: #585858;
    margin-top: 40px;
  }
  &.statsnumber {
    color: #585858;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
  &.txttime {
    color: #585858;
    font-size: 35px;
    font-weight: bold;
  }
}

img.img-stats {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}

div.statsbg {
  /*background-color: #58b78e;*/
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;

}

div.cont-btnenviar{
  margin-top: 80px;
  margin-bottom: 20px;
}

button.btn-enviar{
  background-color:#30ccbf;
  border-bottom: 4px solid #1c7a72;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color:#FFFFFF;

  &:hover{
    background-color:rgba(#30ccbf,0.8);
  }
}

button.btn-siguiente{
  background-color: #30ccbf;
  border-bottom: 4px solid #1c7a72;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color:#FFFFFF;
  font-size: 20px;


  &:hover{
    background-color:rgba(#30ccbf,0.8);
  }
}

button.btn-fin{
	color:white;
	background-color: $amarillo;
	border-bottom:4px solid #bf9913;

	&:hover{
		background-color: $amarillo-secundario;
	}
}

#caja_opciones{
  margin-bottom: 10px;
}

.fin-titulo{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.fin-info{
  color:black;
}
.reprobado{
  color:$rojo;
}
.aprobado{
  color:$verde;
}

.btn-fin{
  margin-top:20px;
}

.icon-fin-aprobado{
  color:$verde;
}
.icon-fin-reprobado{
  color:$rojo;
}
